body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #1E2A78, #49BCF6);
  margin: 0;
  display: flex;
  padding-top: 80px;
  justify-content: center;
  height: 100vh;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

li {
  display: flex;
  padding-top: 10px;
  
}

.divStyle {
  background-color: white;
  height: fit-content;
  padding: 10px;
  border-radius: 10px;
  width:700px;
}
h1 {
  text-align: center;
  padding-bottom: 10px;
}
.tStyle {
  padding-top: 10px;
  margin-left: 10px;
}